body {
  background-image: url("../images/tictactoe.png");
  background-repeat: repeat;
}

hr {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed lightgrey;
  width: 28vw;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32vw;
  margin-top: 2vw;
  margin-bottom: 20px
}

#btn {
  width: 48vw;
  margin: 0 auto;
  text-align: center;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 13px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 10px
}

#playerX {
  font-family: helvetica;
  font-size: 15px;
  /* padding-left: 10px; */
  background-color: white;
  color: #375bcf;
  border: 2px solid #375bcf;
}

#playerX:hover {
  background-color: #375bcf;
  color: white;
}

#reset {
  background-color: #45cb25;
  color: white;
  border: 2px solid #45cb25;
}

#reset:hover {
  background-color: #375bcf;
  color: white;
  border: 2px solid #375bcf;
}

#playerO {
  font-family: helvetica;
  /* padding-left: 10px; */
  font-size: 15px;

  background-color: white;
  color: #21B314;
  border: 2px solid #45cb25;
}

#playerO:hover {
  background-color: #45cb25;
  color: white;
}

td {
  width: 8vw;
  height: 8vw;
  background-color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 3px 3px 20px #828282;
  position: relative;
}
td:hover{
  background-color: #F0F2F2;
  color: white;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-collapse: separate;
  border-spacing: 8px;
  position: relative;
}

#horizantalLine {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed lightgrey;
  width: 28vw;
}

/* ///////////// */
.popup-overlay {
  display: none;
  border-radius: 10px;
  position: absolute;
  left: 35vw;
  top: 25vw;
  z-index: 1;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 10vw;
  width: 30vw;
  cursor: pointer;
  background-color: #b21add;
}

h3 {
  font-family: helvetica;
  color: white;
  font-size: 30px;
  text-align: center;
}
